#container {
    /* Retirando a largura para controlarmos via redimensionamento do navegador */
    width: unset;
}

#box1 {
    width: 100px;
}

#box2 {
    width: 200px;
}

#box3 {
    width: 300px;
}