.box {
    /* Necessário para que os itens flex possam ter seu tamanho alterado conforme configuração do container */
    height: unset;
}

#container {
    /* Necessário para que se permita haver mais de uma linha e com isso as diferenças fiquem evidentes */
    flex-wrap: wrap;
}

/* Provocando algumas diferenças de baseline em cada um dos itens flex do exemplo */
.box:nth-child(1) {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.box:nth-child(2) {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.box:nth-child(3) {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.box:nth-child(4) {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.box:nth-child(5) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.box:nth-child(6) {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.box:nth-child(7) {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
